.modelito{
    background-color:lightgray;
    text-align: center;
    /* color:red; */
    margin:0 auto;
    width: fit-content;
    border-radius: 20px;
    padding:10px;
}
button{
   background-color: coral;
   padding:10px;
}