.modelito{
    background-color:lightgray;
    text-align: center;
    /* color:red; */
    margin:0 auto;
    width: fit-content;
    border-radius: 20px;
    padding:10px;
    color:black;
    text-shadow: 2px 2px 0px white;
    margin-bottom: 10px;
    margin-top: 15px;

}
button{
background-color: #F44335; 
  padding:10px;
  border: 1px solid cyan;
  border-radius: 3px;
}