/* .color-guide{ */
/* background-color: aqua; */
 /* padding-left: 5% !important; */
 /* padding-right: 5% !important; */
/* } */
/* .canvas{
    height:100px;
    width:100px;
} */
.studioContainer{
    background-color:  #870103 !important;
    border-radius: 10px;
}
h3{
padding-top: 2.5%;
padding-bottom: 2.5%;
}
.inputdiv{
    /* background-color: aqua; */
    text-align: center;
}
.savediv{
    text-align: center;
}
input[type=file]{
    margin-bottom: 20px;
    /* background-color: lightgray !important; */
    text-align: center;
    border-radius: 3px;
    background-color: #F44335;
    
}
/* .grey{
    z-index: 0;
} */

.color-guide{  
     margin-bottom: 20px;    
}

.studioContainer {
    padding: 3% 6% !important;
    margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
    .studioContainer {
        padding: 3% 0 !important;
        margin-bottom: 10px;
    }
    .display-4{
        font-size: 1.5rem!important;

    }
    /* .color-guide{ */
        /* background-color: aqua; */
        /* padding-left: 15% !important; 
         */   
    /* } */
       
  }
 @media only screen and (max-width: 450px) {
    .studioContainer {
        padding: 3% 0 !important;
        margin-bottom: 10px;
    }
    /* .color-guide{ */
        /* padding-left: 15% !important; */
        /* background-color:orange ; */
    /* } */
    
  }
  label{
    padding-left:10px;
  }
