
  .btn-large{
    border-radius: 3px;
  }

      .active{
        text-shadow: 1px 1px 0px black !important;
        color:white !important;
        font-weight: 500px;
        
      }

          .card-title{
            padding-top: 10px !important;
          }
          .btn-large{
            background-color: #870103;
          }
          .btn-large:focus{
            background-color: #F44335 !important;
          }
          .btn-large:hover{
            background-color: #F44335 !important;
          }
          .input-field.col .prefix ~ label{
            color: white;
            text-shadow: 1px 1px 0px black !important;

margin: -50px 0px -50px 50px;
}
input:focus{
  border-bottom: 1px solid #870103 !important;
  box-shadow: 0 1px 0 0 #870103 !important;
}