/* canvas{
    width:500px;
    height:500px;
    margin-left: 3%;
}
@media only screen and (min-width: 1300px) {
 
    canvas{
      width:700px;
      height:500px;
        margin-left:3%;
    }
      
    }
@media only screen and (max-width: 800px) {
 
  canvas{
    width:400px;
    height:400px;
      margin-left:10%;
  }
    
  }
  @media only screen and (max-width: 450px) {
 
    canvas{
      width:300px;
      height:300px;
        margin-left:8%;
    }
      
    } */