.itemholder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
@media only screen and (max-width: 800px) {
.itemholder{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}


}
@media only screen and (max-width: 500px) {
.itemholder{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}


}
.btn-large{
    background-color: #870103 !important;

}
