.card-image{
    width:200px;
    height: 200px;
}
.card{
    width:fit-content;
    height:fit-content;

}
.card .card-content .right .btn{
    margin-left: 20px;
    color:white;
    background-color: #F44335;
}